* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e5e5e5;
}

.flag {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  border: 2px solid black;
}

.row {
  display: flex;
  flex-grow: 1;
}

.blue {
  background-color: #005bb7;
  flex-grow: 3;
}

.yellow {
  background-color: #ffcc00;
  flex-grow: 1;
}

.cross {
  flex-grow: 2;
  flex-shrink: 0;
}
